name: Run checks

on:
    push:
        branches:
            - "*"
    pull_request:
        branches:
            - "**"

jobs:
  run-checks:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: '21'
    - name: Cache Gradle stuff
      if: ${{ always() }}
      uses: actions/cache@v4
      with:
        path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
            ${{ runner.os }}-gradle-
    - name: Cache Konan stuff
      if: ${{ always() }}
      uses: actions/cache@v4
      with:
        path: |
            ~/.konan/
        key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
            ${{ runner.os }}-konan-
    - name: Permission to run gradlew
      run: chmod +x ./gradlew 
        && chmod +x ./examples/example-jvm/gradlew
        && chmod +x ./examples/example-mpp/gradlew
        && chmod +x ./examples/example-android/gradlew
        && chmod +x ./examples/example-compose/gradlew
    - name: Gradle version infos
      run: ./gradlew -v
    - name: Install to local maven
      run: ./gradlew publishToMavenLocal --stacktrace
    - name: Run tests
      run: ./gradlew allTest test --stacktrace
    - name: Build JVM example
      if: ${{ always() }}
      run: |
        cd ./examples/example-jvm
        ./gradlew build --stacktrace
    - name: Build MPP example
      if: ${{ always() }}
      run: |
        cd ./examples/example-mpp
        ./gradlew build --stacktrace
    - name: Build Android example
      if: ${{ always() }}
      run: | 
        cd ./examples/example-android
        ./gradlew build --stacktrace
    - name: Build Compose-Multiplatform example
      if: ${{ always() }}
      run: |
        cd ./examples/example-compose
        ./gradlew build --stacktrace
    # Stop Gradle daemon to free looks on cache files.
    # https://github.com/actions/setup-java/issues/633#issuecomment-2219579714
    - name: Stop Gradle daemon
      run: ./gradlew --stop
    - uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: test-reports-${{ matrix.os }}
        path: |
            i18n4k-core/build/test-results/
            i18n4k-generator/build/test-results/
            i18n4k-cldr-plural-rules/build/test-results/
            i18n4k-gradle-plugin/build/test-results/
            examples/example-jvm/build/test-results/
            examples/example-mmp/build/test-results/
            examples/example-android/build/test-results/
            examples/example-compose/build/test-results/